[Unit]
Description=Tarsnap backup

[Service]
SyslogIdentifier=Tarsnap
Type=simple
ExecStart=/usr/bin/bash /root/tarsnap-backup.sh
Restart=on-abnormal

[Install]
WantedBy=default.target
