[Desktop Entry]
Type=Application
Exec=cherrytree
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=cherrytree
Name=cherrytree
Comment[en_US]=
Comment=
