# Managed by salt

[Desktop Entry]
Type=Application
Exec=/usr/bin/discord
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Discord
Name=Discord
Comment[en_US]=Discord
Comment=Discord
