# Managed by salt

[Desktop Entry]
Type=Application
Exec=hexchat
Hidden=false
NoDisplay=true
X-GNOME-Autostart-enabled=true
Name[en_US]=HexChat
Name=HexChat
Comment[en_US]=HexChat
Comment=HexChat
