[Desktop Entry]
Type=Application
Exec=keepassxc
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=KeePassXC
Name=KeePassXC
Comment[en_US]=
Comment=
